!!! 5
%html(lang="en-US")
  %head
    %title Example Gulpfile
    %link(rel="stylesheet" type="text/css" href="css/index-!{cachebuster}.css")

  %body
    .example Success!

    %script(src="js/index-!{cachebuster}.js" async="true")
